In [1]:
import pandas as pd
import seaborn as sns
import matplotlib 
%matplotlib inline
pd.set_option('display.max_columns',None)
pd.options.display.max_seq_items = 2000
# pd.set_option('display.height', 1000)
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)
import requests, re
import nltk
import string, itertools
from collections import Counter, defaultdict
from nltk.text import Text
from nltk.probability import FreqDist
from nltk.tokenize import word_tokenize, sent_tokenize, regexp_tokenize
from nltk.corpus import stopwords
from nltk.stem import PorterStemmer, WordNetLemmatizer
from gensim.corpora.dictionary import Dictionary
from gensim.models.tfidfmodel import TfidfModel
from sklearn.cluster import KMeans
from wordcloud import WordCloud

In [2]:
import json
import pandas as pd
data_file_1 = open("./archive/yelp_academic_dataset_business.json")
data_1 = []
for line in data_file_1:
    data_1.append(json.loads(line))
business = pd.DataFrame(data_1)
data_file_1.close()

In [3]:
## drop unuseful column 'hours','attributes'
business.drop(['hours','attributes'], axis=1, inplace=True)

## remove quotation marks in name and address column
business.name=business.name.str.replace('"','')
business.address=business.address.str.replace('"','')#把引号去掉

## 按洲名简写筛选数据，
## 并存入新的dataframe：use
states = ["AL", "AK", "AZ", "AR", "CA", "CO", "CT", "DC", "DE", "FL", "GA", 
          "HI", "ID", "IL", "IN", "IA", "KS", "KY", "LA", "ME", "MD", 
          "MA", "MI", "MN", "MS", "MO", "MT", "NE", "NV", "NH", "NJ", 
          "NM", "NY", "NC", "ND", "OH", "OK", "OR", "PA", "RI", "SC", 
          "SD", "TN", "TX", "UT", "VT", "VA", "WA", "WV", "WI", "WY"]
usa=business.loc[business['state'].isin(states)] #把不是美国州的去掉
business.head()

              business_id                      name                          address           city state postal_code   latitude   longitude  stars  review_count  is_open                                         categories
0  Pns2l4eNsfO8kk83dixA6A  Abby Rappoport, LAC, CMQ           1616 Chapala St, Ste 2  Santa Barbara    CA       93101  34.426679 -119.711197    5.0             7        0  Doctors, Traditional Chinese Medicine, Naturop...
1  mpf3x-BjTdTEA3yCZrAYPw             The UPS Store  87 Grasso Plaza Shopping Center         Affton    MO       63123  38.551126  -90.335695    3.0            15        1  Shipping Centers, Local Services, Notaries, Ma...
2  tUFrWirKiKi_TAnsVWINQQ                    Target             5255 E Broadway Blvd         Tucson    AZ       85711  32.223236 -110.880452    3.5            22        0  Department Stores, Shopping, Fashion, Home & G...
3  MTSW4McQd7CbVtyjqoe9mw        St Honore Pastries                      935 Race St   Philadelphia    PA       19107  39.955505  -75.155564    4.0            80        1  Restaurants, Food, Bubble Tea, Coffee & Tea, B...
4  mWMc6_wTdE0EUBKIGXDVfA  Perkiomen Valley Brewery                    101 Walnut St     Green Lane    PA       18054  40.338183  -75.471659    4.5            13        1                          Brewpubs, Breweries, Food

In [4]:
usa=usa.dropna(axis=0, subset=['categories'])

In [5]:
## 选出所有餐厅，
## 并存入新的dataframe：us_restaurants
us_restaurants=usa[usa['categories'].str.contains('Restaurants')]

## select out 16 cuisine types of restaurants and rename the category
## 把 us_restaurants['category'] 中含有指定种类的餐厅筛选出来，
## 并新建column：'category'

# us_restaurants.is_copy=False 版本过老
us_restaurants['category']=pd.Series()
us_restaurants.loc[us_restaurants.categories.str.contains('American'),'category'] = 'American'
us_restaurants.loc[us_restaurants.categories.str.contains('Mexican'), 'category'] = 'Mexican'
us_restaurants.loc[us_restaurants.categories.str.contains('Italian'), 'category'] = 'Italian'
us_restaurants.loc[us_restaurants.categories.str.contains('Japanese'), 'category'] = 'Japanese'
us_restaurants.loc[us_restaurants.categories.str.contains('Chinese'), 'category'] = 'Chinese'
us_restaurants.loc[us_restaurants.categories.str.contains('Thai'), 'category'] = 'Thai'
us_restaurants.loc[us_restaurants.categories.str.contains('Mediterranean'), 'category'] = 'Mediterranean'
us_restaurants.loc[us_restaurants.categories.str.contains('French'), 'category'] = 'French'
us_restaurants.loc[us_restaurants.categories.str.contains('Vietnamese'), 'category'] = 'Vietnamese'
us_restaurants.loc[us_restaurants.categories.str.contains('Greek'),'category'] = 'Greek'
us_restaurants.loc[us_restaurants.categories.str.contains('Indian'),'category'] = 'Indian'
us_restaurants.loc[us_restaurants.categories.str.contains('Korean'),'category'] = 'Korean'
us_restaurants.loc[us_restaurants.categories.str.contains('Hawaiian'),'category'] = 'Hawaiian'
us_restaurants.loc[us_restaurants.categories.str.contains('African'),'category'] = 'African'
us_restaurants.loc[us_restaurants.categories.str.contains('Spanish'),'category'] = 'Spanish'
us_restaurants.loc[us_restaurants.categories.str.contains('Middle_eastern'),'category'] = 'Middle_eastern'
us_restaurants[:20]

/var/folders/l4/fjzy4mjj7kscgykzt0k5nzk80000gn/T/ipykernel_18427/3096763070.py:10: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  us_restaurants['category']=pd.Series()
/var/folders/l4/fjzy4mjj7kscgykzt0k5nzk80000gn/T/ipykernel_18427/3096763070.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  us_restaurants['category']=pd.Series()
/var/folders/l4/fjzy4mjj7kscgykzt0k5nzk80000gn/T/ipykernel_18427/3096763070.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  us_restaurants.loc[us_restaurants.categories.str.contains('American'),'category'] = 'American'

               business_id                                 name               address          city state postal_code   latitude   longitude  stars  review_count  is_open                                         categories    category
3   MTSW4McQd7CbVtyjqoe9mw                   St Honore Pastries           935 Race St  Philadelphia    PA       19107  39.955505  -75.155564    4.0            80        1  Restaurants, Food, Bubble Tea, Coffee & Tea, B...         NaN
5   CF33F8-E6oudUQ46HnavjQ                       Sonic Drive-In         615 S Main St  Ashland City    TN       37015  36.269593  -87.058943    2.0             6        1  Burgers, Fast Food, Sandwiches, Food, Ice Crea...         NaN
8   k0hlBqXX-Bt0vf1op7Jr1w                Tsevi's Pub And Grill     8025 Mackenzie Rd        Affton    MO       63123  38.565165  -90.321087    3.0            19        0  Pubs, Restaurants, Italian, Bars, American (Tr...       Greek
9   bBDDEgkFA1Otx9Lfe7BZUQ                       Sonic Drive-In   2312 Dickerson Pike     Nashville    TN       37207  36.208102  -86.768170    1.5            10        1  Ice Cream & Frozen Yogurt, Fast Food, Burgers,...         NaN
11  eEOYSgkmpB90uNA7lDOMRA                Vietnamese Food Truck                           Tampa Bay    FL       33602  27.955269  -82.456320    4.0            10        1         Vietnamese, Food, Restaurants, Food Trucks  Vietnamese
12  il_Ro8jwPlHresjw9EGmBg                              Denny's          8901 US 31 S  Indianapolis    IN       46227  39.637133  -86.127217    2.5            28        1  American (Traditional), Restaurants, Diners, B...    American
14  0bPLkL0QhhPO5kt1_EXmNQ                 Zio's Italian Market         2575 E Bay Dr         Largo    FL       33771  27.916116  -82.760461    4.5           100        0        Food, Delis, Italian, Bakeries, Restaurants     Italian
15  MUTTqe8uqyMdBl186RmNeA                             Tuna Bar           205 Race St  Philadelphia    PA       19106  39.953949  -75.143226    4.0           245        1                  Sushi Bars, Restaurants, Japanese    Japanese
19  ROeacJQwBeh05Rqg7F6TCg                                  BAP         1224 South St  Philadelphia    PA       19147  39.943223  -75.162568    4.5           205        1                                Korean, Restaurants      Korean
22  kfNv-JZpuN6TVNSO6hHdkw                      Hibachi Express        6625 E 82nd St  Indianapolis    IN       46250  39.904320  -86.053080    4.0            20        1             Steakhouses, Asian Fusion, Restaurants         NaN
23  9OG5YkX1g2GReZM0AskizA              Romano's Macaroni Grill    5505 S Virginia St          Reno    NV       89502  39.476117 -119.789339    2.5           339        1                               Restaurants, Italian     Italian
24  4iRzR7OaS-QaSXuvYxEGKA                            Super Dog  1160 Gallatin Pike S     Nashville    TN       37115  36.248570  -86.719986    4.0             6        0                              Hot Dogs, Restaurants         NaN
27  tMkwHmWFUEXrC9ZduonpTg                   The Green Pheasant         215 1st Ave S     Nashville    TN       37201  36.159886  -86.773197    4.0           161        0                     Restaurants, Japanese, Seafood    Japanese
28  QdN72BWoyFypdGJhhI5r7g                              Bar One          767 S 9th St  Philadelphia    PA       19147  39.939825  -75.157447    4.0            65        0  Cocktail Bars, Bars, Italian, Nightlife, Resta...     Italian
29  sqSqqLy0sN8n2IZrAbzidQ                       Domino's Pizza     3001 Highway 31 W   White House    TN       37188  36.464747  -86.659187    3.5             8        1      Pizza, Chicken Wings, Sandwiches, Restaurants         NaN
31  Mjboz24M9NlBeiOJKLEd_Q                     DeSandro on Main          4105 Main St  Philadelphia    PA       19127  40.022466  -75.218314    3.0            41        0                    Pizza, Restaurants, Salad, Soup         NaN
33  kV_Q1oqis8Qli8dUoGpTyQ                        Ardmore Pizza     10 Rittenhouse Pl       Ardmore    PA       19003  40.006707  -75.289671    3.5           109        1                                 Pizza, Restaurants         NaN
35  aPNXGTDkf-4bjhyMBQxqpQ                           Craft Hall    901 N Delaware Ave  Philadelphia    PA       19123  39.962582  -75.135657    3.5            65        1  Eatertainment, Arts & Entertainment, Brewpubs,...    American
36  2xVsWBNFwZOxIOdd9Mwnww             Cheeseburger In Paradise  116 N Pottstown Pike         Exton    PA       19341  40.029962  -75.630607    2.5            20        0                               Restaurants, Burgers         NaN
41  ljxNT9p0y7YMPx0fcNBGig  Tony's Restaurant & 3rd Street Cafe          312 Piasa St         Alton    IL       62002  38.896563  -90.186203    3.0            94        1  Restaurants, Specialty Food, Steakhouses, Food...     Italian

In [6]:
## drop null values in category, 
us_restaurants=us_restaurants.dropna(axis=0, subset=['category'])

## delete original column categories 
del us_restaurants['categories']

## and reset the index
us_restaurants=us_restaurants.reset_index(drop=True)
us_restaurants.head(10)

              business_id                     name             address          city state postal_code   latitude   longitude  stars  review_count  is_open    category
0  k0hlBqXX-Bt0vf1op7Jr1w    Tsevi's Pub And Grill   8025 Mackenzie Rd        Affton    MO       63123  38.565165  -90.321087    3.0            19        0       Greek
1  eEOYSgkmpB90uNA7lDOMRA    Vietnamese Food Truck                         Tampa Bay    FL       33602  27.955269  -82.456320    4.0            10        1  Vietnamese
2  il_Ro8jwPlHresjw9EGmBg                  Denny's        8901 US 31 S  Indianapolis    IN       46227  39.637133  -86.127217    2.5            28        1    American
3  0bPLkL0QhhPO5kt1_EXmNQ     Zio's Italian Market       2575 E Bay Dr         Largo    FL       33771  27.916116  -82.760461    4.5           100        0     Italian
4  MUTTqe8uqyMdBl186RmNeA                 Tuna Bar         205 Race St  Philadelphia    PA       19106  39.953949  -75.143226    4.0           245        1    Japanese
5  ROeacJQwBeh05Rqg7F6TCg                      BAP       1224 South St  Philadelphia    PA       19147  39.943223  -75.162568    4.5           205        1      Korean
6  9OG5YkX1g2GReZM0AskizA  Romano's Macaroni Grill  5505 S Virginia St          Reno    NV       89502  39.476117 -119.789339    2.5           339        1     Italian
7  tMkwHmWFUEXrC9ZduonpTg       The Green Pheasant       215 1st Ave S     Nashville    TN       37201  36.159886  -86.773197    4.0           161        0    Japanese
8  QdN72BWoyFypdGJhhI5r7g                  Bar One        767 S 9th St  Philadelphia    PA       19147  39.939825  -75.157447    4.0            65        0     Italian
9  aPNXGTDkf-4bjhyMBQxqpQ               Craft Hall  901 N Delaware Ave  Philadelphia    PA       19123  39.962582  -75.135657    3.5            65        1    American

In [7]:
## load review table
# review = pd.read_csv('yelp_review.csv')
# review.head()
import json
import pandas as pd
data_file_2 = open("./archive/yelp_academic_dataset_review.json")
data_2 = []

for line in data_file_2:
    data_2.append(json.loads(line))

In [ ]:
review = pd.DataFrame(data_2)
data_file_2.close()

In [ ]:
## 以 'business_id' 为准合并两个df，得到 “restaurants_reviews”
restaurants_reviews = pd.merge(us_restaurants, review, on = 'business_id')
restaurants_reviews.head()

In [ ]:
## 更新 column names
restaurants_reviews.rename(columns={'stars_x':'avg_star','stars_y':'review_star'}, inplace=True)

## 把评论中所有的：特殊符号和换行符 全部用空格替换，然后计算每个评论的字数并存入 'num_words_review'
restaurants_reviews['num_words_review'] = restaurants_reviews.text.str.replace('\n','').str.replace('[!"#$%&\()*+,-./:;<=>?@[\\]^_`{|}~]','').map(lambda x: len(x.split()))

# 根据星级，对评论 label reviews as positive or negative
restaurants_reviews['labels'] = ''
restaurants_reviews.loc[restaurants_reviews.review_star >=4, 'labels'] = 'positive'
restaurants_reviews.loc[restaurants_reviews.review_star ==3, 'labels'] = 'neural'
restaurants_reviews.loc[restaurants_reviews.review_star <3, 'labels'] = 'negative'

# drop neutral reviews for easy analysis
restaurants_reviews.drop(restaurants_reviews[restaurants_reviews['labels'] =='neural'].index, axis=0, inplace=True)
restaurants_reviews.reset_index(drop=True, inplace=True)

In [ ]:
import csv
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.svm import LinearSVC
pd.set_option('display.float_format', lambda x: '%.4f' % x)


## convert text to lower case 全部转化为小写
restaurants_reviews.text = restaurants_reviews.text.str.lower()

## remove unnecessary punctuation（又重复操作了一遍）
restaurants_reviews['removed_punct_text']= restaurants_reviews.text.str.replace('\n','').str.replace('[!"#$%&\()*+,-./:;<=>?@[\\]^_`{|}~]','')

# ## 将 positive file 导入 list：positive_words中
# file_positive = open('/Users/houdeliao/Desktop/positive.txt')
# reader =csv.reader(file_positive)
# positive_words = [word[0] for word in reader]


import sys
positive_words=[]
with open('./positive.txt','r') as p:
    for pline in p:
        positive_words.append(pline.strip('\n'))



## 将 negative file 导入 list：negative_words中
file_negative = open('./negative_.txt')
reader =csv.reader(file_negative)
negative_words = [word[0] for word in reader]


# negative_words=[]
# with open('/Users/houdeliao/Desktop/negative.txt','r') as n:
#     for nline in n:
#         negative_words.append(nline.strip('\n'))
# print(negative_words)

In [ ]:
"""
创立函数
"""
## get dataset by category
def get_dataset(category):
    df = restaurants_reviews[['removed_punct_text','labels']][restaurants_reviews.category==category]
    df.reset_index(drop=True, inplace =True)
    df.rename(columns={'removed_punct_text':'text'}, inplace=True)
    return df

In [ ]:
## only keep positive and negative words
def filter_words(review):
    words = [word for word in review.split() if word in positive_words + negative_words]
    words = ' '.join(words)
    return words

In [ ]:
## 得到重要性评分
def get_polarity_score(dataset):
    dataset.text = dataset.text.apply(filter_words)
    
    terms_train=list(dataset['text'])
    class_train=list(dataset['labels'])
    
    ## get bag of words
    vectorizer = CountVectorizer()
    feature_train_counts=vectorizer.fit_transform(terms_train)
    
    ## run model
    svm = LinearSVC()
    svm.fit(feature_train_counts, class_train)
    
    ## create dataframe for score of each word in a review calculated by svm model
    coeff = svm.coef_[0]
    cuisine_words_score = pd.DataFrame({'score': coeff, 'word': vectorizer.get_feature_names()})
    
    ## get frequency of each word in all reviews in specific category
    cuisine_reviews = pd.DataFrame(feature_train_counts.toarray(), columns=vectorizer.get_feature_names())
    cuisine_reviews['labels'] = class_train
    cuisine_frequency = cuisine_reviews[cuisine_reviews['labels'] =='positive'].sum()[:-1]
    
    cuisine_words_score.set_index('word', inplace=True)
    cuisine_polarity_score = cuisine_words_score
    cuisine_polarity_score['frequency'] = cuisine_frequency
    
    cuisine_polarity_score.score = cuisine_polarity_score.score.astype(float)
    cuisine_polarity_score.frequency = cuisine_polarity_score.frequency.astype(int)
    
    ## calculate polarity score 
    cuisine_polarity_score['polarity'] = cuisine_polarity_score.score * cuisine_polarity_score.frequency / cuisine_reviews.shape[0]
    
    cuisine_polarity_score.polarity = cuisine_polarity_score.polarity.astype(float)
    ## drop unnecessary words
    unuseful_positive_words = ['great','amazing','love','best','awesome','excellent','good',
                                                   'favorite','loved','perfect','gem','perfectly','wonderful',
                                                    'happy','enjoyed','nice','well','super','like','better','decent','fine',
                                                    'pretty','enough','excited','impressed','ready','fantastic','glad','right',
                                                    'fabulous','liked','incredible','outstanding','positive']
    unuseful_negative_words =  ['bad','disappointed','disappointing','horrible','disappoint','lacking','unfortunately','sorry']
    unuseful_words = unuseful_positive_words + unuseful_negative_words
    cuisine_polarity_score.drop(cuisine_polarity_score.loc[unuseful_words].index, axis=0, inplace=True)
    
    return cuisine_polarity_score,vectorizer,svm

In [ ]:
def get_top_words(dataset, label, number=20):
    if label == 'positive':
        df = dataset[dataset.polarity>0].sort_values('polarity',ascending = False)[:number]
    else:
        df = dataset[dataset.polarity<0].sort_values('polarity')[:number]
    return df

In [ ]:
def split_data(dataset, test_size):
    df_train, df_test = train_test_split(dataset[['text','labels']],test_size=test_size)
    return df_train,df_test

In [ ]:
def test_data(dataset,transform,model):
    x_test=list(dataset['text'])
    y_test=list(dataset['labels'])
    
    ## get bag of words
    vectorizer = CountVectorizer()
    feature_train_counts=transform.transform(x_test)
    y_predict=model.predict(feature_train_counts)
    
    from sklearn.metrics import accurancy_score
    score=accurancy_score(y_predict,y_test)
    
    return score

In [ ]:
Japanese_reviews = get_dataset('Japanese')
Japanese_train,Japanese_test = split_data(Japanese_reviews, 0.9)
print('Total %d number of reviews' % Japanese_train.shape[0])

In [ ]:
Japanese_polarity_score,vectorizer_Jap,svm_Jap = get_polarity_score(Japanese_train)
get_top_words(Japanese_polarity_score, 'positive',20)

In [ ]:
get_top_words(Japanese_polarity_score,'negative',20)

In [ ]:
Japanese_test_score=test_data(Japanese_test,vectorizer_Jap,svm_Jap)